<launch>
<arg name="new_name"/>
<include file="$(find pakForlab)/launch/anotherOne.launch" pass_all_args="true"/>
<group ns="new_ns">
 <node name="listener" pkg="pakForlab" type="listener.py" output="screen">
        <remap from="my_chat_topic" to="$(arg new_name)"/>
    </node>
    <node name="talker" pkg="pakForlab" type="talker.py" output="screen">
        <remap from="my_chat_topic" to="$(arg new_name)"/>
    </node>
 </group>
</launch>





